# No dot-directories except github/vscode
.*/
!.vscode/
!.github/

*.code-workspace
node_modules
nbproject

# npm package files
iobroker.*.tgz

# npm/yarn/pnpm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build- und Distribution
build/
dist/
admin/build/

# Editor/IDE
.idea/

# Betriebssystem
Thumbs.db
.DS_Store

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt

# ioBroker spezifisch
*.swp
