# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Adapter spezifisch
.create-adapter.json

# Build / Coverage
dist/
build/
coverage/

# Editor / IDE
.idea/
*.swp

# System
.DS_Store
Thumbs.db

# ioBroker release
.commitinfo
